{% set banded = banded|default(false) %}

{% if entry.contentBlocks|length %}
<section class="blocks{% if banded %} blocks--banded{% endif %} {{ class|default('') }}">
{% if not banded %}
	<div class="block__in">
{% endif %}

{% for block in entry.contentBlocks %}

	{% switch block.type %}

		{% case 'text' %}

			<div class="block block__text">
				{% if banded %}<div class="block__in">{% endif %}
				{{ block.text | md }}
				{% if banded %}</div>{% endif %}
			</div>

		{% case 'quote' %}

			<div class="block block__quote">
				{% if banded %}<div class="block__in">{% endif %}

				<blockquote class="quote">
					<div class="quote__copy">{{ block.quote | md }}</div>

					{% if block.speaker | length %}
					<p class="quote__source">
						<span class="quote__speaker">{{ block.speaker }}{% if block.speakerTitle %} <span class="quote__speaker__title">{{ block.speakerTitle }}</span>{% endif %}</span>
					</p>
					{% endif %}
				</blockquote>

				{% if banded %}</div>{% endif %}
			</div>

		{% case 'pullquote' %}

			<div class="block block__pullquote">
				{% if banded %}<div class="block__in">{% endif %}

				<blockquote class="pullquote">
					{{ block.pullquote | md }}
				</blockquote>

				{% if banded %}</div>{% endif %}
			</div>

		{% case 'image' %}

			{% set imageSize = 'large' %}
			{% if block.imagePosition == 'full' %}
				{% set imageSize = 'xLarge' %}
			{% endif %}

			<figure class="block block__image{% if imageSize == 'xLarge' %} block__image--full{% endif %}">
				{% if banded and imageSize == 'large' %}<div class="block__in">{% endif %}

					{% for asset in block.image %}
						<img src="{{ asset.getUrl(imageSize) }}" alt="{{ asset.caption }}">
						
						{% if block.caption %}
							<figcaption class="block__caption">
								{{ block.caption | md }}
							</figcaption>
						{% elseif asset.caption %}
							<figcaption class="block__caption">
								{{ asset.caption | md }}
							</figcaption>
						{% endif %}
					{% endfor %}

				{% if banded and imageSize == 'large' %}</div>{% endif %}
			</figure>

		{% case 'video' %}

			{% set video = craft.embedder.url(block.video) %}

			<figure class="block block__video">
				{% if banded %}<div class="block__in">{% endif %}

				{{ video.embed_code }}
				
				{% if block.caption %}
					<figcaption class="block__caption">
						{{ block.caption | md }}
					</figcaption>
				{% endif %}
				
				{% if banded %}</div>{% endif %}
			</figure>

		{% case 'slideshow' %}

			<div class="block__slideshow{% if block.showItems != '1' %} block__slideshow--full{% endif %}">
				{% if banded and block.showItems == '1' %}<div class="block__in">{% endif %}

				<div class="block__gallery" data-showitems="{{ block.showItems }}">
				{% for asset in block.images %}
					<figure class="block__slide">
						<img src="{{ asset.getUrl('largeGolden') }}" width="{{ asset.getWidth('largeGolden') }}" height="{{ asset.getHeight('largeGolden') }}" alt="{{ asset.caption }}">
					</figure>
				{% endfor %}
				</div>
				
				{% if block.caption %}
				<figcaption class="block__caption">
					{{ block.caption | md }}
				</figcaption>
				{% endif %}

				{% if banded and block.showItems == '1' %}</div>{% endif %}
			</div>

	{% endswitch %}

{% endfor %}

{% if not banded %}
	</div>{# /.block__in #}
{% endif %}
</section>
{% endif %}